/* PAGE */
.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
   padding: 20px;              
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  font-family: "Segoe UI", sans-serif;
  gap: 20px;
  flex-wrap: wrap
}

/* CARD */
.card {
  width: 320px;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 22px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* TOP */
.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ddd;
  padding: 3px;
}

.top button {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #f3f4f6;
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
  font-size: 13px;
  cursor: pointer;
}

/* CENTER */
.center h3 {
  font-size: 14px;
  font-weight: 600;
  color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center h3 span {
  font-size: 12px;
  color: #6b7280;
  font-weight: 400;
}

.center h2 {
  font-size: 20px;
  margin: 6px 0 12px;
  color: #111;
}

/* TAGS */
.center div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.center div h4 {
  font-size: 12px;
  background-color: #f3f4f6;
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: 500;
  color: #374151;
}

/* BOTTOM */
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.bottom h3 {
  font-size: 18px;
  margin: 0;
  color: #111;
}

.bottom p {
  font-size: 13px;
  color: #6b7280;
  margin: 2px 0 0;
}

/* APPLY BUTTON */
.bottom button {
  background-color: #111;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 14px;
}

.bottom button:hover {
  background-color: #000;
}
